body { 
padding-left: 20px;
padding-right: 20px;
}

.nbTextColor{
    background-color: white;
    width: 90%;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.cards {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap : 1 rem;
}

@media (max-width : 800 px){
  .cards {
    text-align: center;
    grid-template-columns: repeat(2,1fr);
  }
}


@media (max-width : 500 px){
  .cards {
    text-align: center;
    grid-template-columns: 1fr;
  }
}