html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body { 
padding-left: 100px;
padding-top: 80px;
}

.nbTextColor{
    background-color: white;
    width: 100%;
}
.album{
  font-family: Arial, sans-serif;
  font-size: 15pt;
  color:#304FFE;
  text-align: center;
}

.artist{
  font-family: Arial, sans-serif;
  font-size: 13pt;
  text-align: center;
  color:#E91E63;

}
.price{
  font-family: Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
  color:#00897B;
}
.genre{
  font-family: Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
  color:#9575CD;
}


.font-release{
  font-size: 10pt;
}

.grid{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.theme{
  margin-left: 2%;
}

.container{
  margin-top: 4%;
}

.box{
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
  transition: 0.3s;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.338);
}

.image{
  border-radius: 10px 10px 0px 0px;
}

.btn{
  display:flex;
    justify-content:center;
    margin-top: 5%;
    margin-left: 11%;
  }

.searchBar{
  padding-left:0.8%;
  width: 91%;
}

/*iphone media query*/
@media all and (max-width : 500px){
  .box{
    margin: 2px;
    margin-bottom: 14px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s;
  }
}

@media all and (max-width : 500px){
  body { 
    padding-left: 23%;
    padding-top: 20%;
    }
}

@media all and (max-width : 500px){
  .searchBar{
    padding-left:0%;
    padding-right:14%;
    padding-bottom: 5%;
    width: 91%;
  }
}

/*ipad Pro media query*/
@media (min-width:510px) and (max-width : 1024px){  .box{
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s;
  }
}

@media (min-width:510px) and (max-width : 1024px){
  body { 
    padding-left: 2%;
    padding-top: 5%;
    }
}

@media (min-width:510px) and (max-width : 1024px){  .searchBar{
    padding-top: 3%;
    width: 95%;
  }
}
