body { 
padding-left: 20px;
padding-right: 20px;
margin-top: 80px;
}

.nbTextColor{
    background-color: white;
    width: 90%;
}

.grid{
  min-height: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.songItem{
  flex-basis: calc(20%-40px)
}

.box{
  margin: 20px;
}